
/* FUENTES */

@font-face {
  font-family: font-system;
  src: url("fonts/system/system.woff2");
  font-display: block;
}

@font-face {
  font-family: Dosis;
  src: url("fonts/Dosis/Dosis-Medium.ttf");
  font-display: block;
}

/* GENERAL*/

body{
  background-color: #fff;
  font-family: font-system,'Source Sans Pro', sans-serif;
  margin: 0;
  cursor: default;
  -moz-user-select: none;
  user-select: none;
}

h1, h2, h3, h4, h5, h6{
  font-family: Dosis, sans-serif;
  font-weight: normal;
}

h2{
  color: #1d252c;
  text-transform: uppercase;
  font-family: font-system, sans-serif;
  font-weight: bold;
  font-size: 22px;
  /* margin-bottom: 40px; */
}

figure{
  margin: 0;
}

ol, ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

#message-mobile{
  display: none;
}

/* CONTIENE CADA SECCION */

.container{
  width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

/* NAVBAR */

.menu{
  height: inherit;
}

.header{
  background-color: #fff;
  color: #fff;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header-scroll{
  border-bottom: 1px solid #e6e6e6;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.header ul{
  display: flex;
  height: inherit;
}

.header ul li{
  height: inherit;
}

.header div nav ul{
  margin: 0;
}

.header a{
  color: #000;
  text-decoration: none;
  height: inherit;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.header a:hover{
  /* border-bottom: 1px solid #299970; */
  color: #299970;
}

.container-logo-titulo{
  
display: flex;
}

.logo{
  margin: 0;
}

.logo img{
  width: 60px;
  height: 65px;
}

.logo-title{
  margin-right: 408px;
  margin-top: 42px;
  color: white;
  font-weight: 100;
  font-family: Baron;
  cursor: default;
  text-transform: none;
}

/* FRASE E IMAGEN */

.hero{
  display: flex;
  justify-content: space-between;
  padding-bottom: 42px;
  padding-top: 163px;
}

.box-img{
  position: absolute;
  width: 337px;
  height: 444px;
  z-index: -2;
  background: linear-gradient(90deg, rgba(40,101,103,1) 0%, rgba(71,206,238,1) 35%, rgba(132,241,197,1) 100%);
  left: 59%;
  top: 142px;
}

.hero img{
  object-fit: cover;
  width: 337px;
  height: 444px;
}

.fraseInicial{
  font-size: 35px;
  line-height: 156%;
  letter-spacing: -.2px;
  color: #000;
  width: 54%;
}

.fraseInicial>span {
  color: #2cb4ba;
}

.autor-frase{
  font-size: 20px;
  margin-left: 358px;
  color: #299970 !important;
}

/* PORTAFOLIO */

.portafolio{
  background-color: #ffffff;
  padding:  20px;
  padding-bottom: 68px;
  margin-top: 28px;
}

.container-proyectos{
  display: flex;
  flex-wrap: wrap;
}

.project{
  padding: 14px;
  margin: 12px;
  text-align: center;
  background-color: #f0fffe;
}

.project-hidden{
  display: none;
}

.project-show{
  display: flex !important;
}

.project-course,
.project-date,
.project-url{
  margin: 10px 0;
}

.project-description{
  font-size: 16px;
  display: none;
}

.project strong{
  letter-spacing: 0.5px;
}

.project-title{
  font-size: 24px;
  margin: 16px 0;
  /* text-transform: uppercase; */
}

.project-details{
  width: 278px;
}

.project-image{
  width: 160px;
  /* height: 200px; */
  /* object-fit: cover; */
}

.project-imageContainer{
}

.project-url>small>a{
  text-decoration: none;
  color: #2cb4ba;
}

.project-url>small>a:hover{
  text-decoration: none;
  color: #1d252c;
}

.project-code{
}

.project-code>img{
  width: 30px;
  /* border-radius: 1000px; */
  /* box-shadow: 0px 0px 5px 1px orange; */
}

.projects-mas{
  margin-left: 444px;
}

.projects-mas:hover{
  background-color: #0c3638;
  color: white;
  border-color: #2c4748;
  box-shadow: 0px 1px 10px 1px #0c363870;
  transition: all 0.3s;
}

/* FRASE 2 */

.frase{
  padding: 45px 0;
  background-color: #1d252c;
}

.fraseFinal{
  font-size: 35px;
  line-height: 156%;
  letter-spacing: -.2px;
  color: #fff;
  text-align: center;
}

.fraseFinal>span {
  color: #2cb4ba;
}

.autor{
  color: #286567;
  font-size: 19px;
}

/* EVENTOS */

.event-list{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 8vw;
}

.event-list-title{
  margin-left: 20px;
  padding-top: 35px;
}

.event{
  margin: 10px;
  width: 480px;
  border-radius: 10px;
  overflow: hidden;
  background: #f5f5f5;
}

.event img{
  width: 480px;
  height: 200px;
  object-fit: cover;
}

.event-detail{
  margin: 20px 40px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
}

.event-description, .event-description-hidden{
  text-align: left;
}

.event-description-hidden{
  display:none;
}

.event-description-show{
  display:block !important;
}

.event-url, .projects-mas{
  color: #0c3638;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.event-url:hover{
  background-color: #0c3638;
  color: white;
  border-color: #2c4748;
  box-shadow: 0px 1px 10px 1px #0c363870;
  transition: all 0.3s;
}

/* CONTACTO */

.contact{
  background-color: #0c3638;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 35px;
}

.form-email input{
  border: 1px solid gray;
  padding: 10px 20px 10px 25px;
  border-radius: 5px;
  background-image: url('../images/envelope.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.form-email button{
  display: block;
  background: transparent;
  color: white;
  padding: 10px 0;
  border: 1px solid;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
}

.form-email button:hover{
  /* color: #0c3638; */
  /* background-color: white; */
  box-shadow: 0px 0px 7px 2px #3d494a;
  transition: all 0.3s;
  border-color: #8c8c8c9c;
}

.form-email h3{
  font-family: 'Source Sans Pro';
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.social-link{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}

.social-link:hover{
  filter: blur(1px);
  transform: scale(1.1);
}

.social-link.twitter{
  background-image: url('../images/twitter.svg');
}

.social-link.facebook{
  background-image: url('../images/facebook.svg');
}

.social-link.github{
  background-image: url('../images/github.svg');
}

.social-link.instagram{
  background-image: url('../images/linkedin.svg');
}

/* FOOTER */

.footer{
  color: white;
  background-color: #1d252c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer img{
  vertical-align: middle; 
}

.footer span{
  color: wheat;
}
